:root {
  --color-primario: #000000; /*texto1*/
  --color-secundario: #000000; /*texto2, v1, v2*/
  --color-terciario: #e9abae; /*fondo botones*/
}

/*titulo*/
@font-face {
  font-family: "fuente1";  /*texto1*/
  src: url('./fonts/Brandon_med.otf');
  font-display: swap;
}

/*texto*/
@font-face {
  font-family: "fuente2";
  src: url('./fonts/Brandon_med.otf');
  font-display: swap;
}

.fallback {
  font-family: serif;
}


/* 
  @font-face {
    font-family: "Garamond Italic";
    src: url('./fonts/garamond-italic.woff');
    font-display: swap;
  } */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

}

  body {
    background-image: url("./img/fondo.jpg");
    background-size: fixed;
    /* background-color: var(--color-terciario); */
    z-index: -2;
  }


header {
  position: relative;
  height: 100dvh;
  overflow: hidden;
  z-index: -1;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.portada {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.texto2,
.textov1,
.textov2,
.numero {
  color: var(--color-secundario);
  font-family: "fuente2";
}

.texto1 {
  color: var(--color-primario);
  font-size: 20vw;
  font-family: "fuente1";
  margin-bottom: 20px;
  line-height: 0.8;
}

.texto2 {
  font-size: 8vw;
  margin: 0;
  line-height: 1.2;
  text-align: center;
}

.textov1 {
  font-size: 7vw;
}

.textov2 {
  font-size: 6vw;
  line-height: 1.3;
}

.inicio {
  margin-top: 50px;
  height: 100%;
  color: var(--color-primario);

  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text_inicio {
  margin: 15px;
  font-size: 7vw;
  line-height: 1.3;
}

.imagen_inicio {
  height: 100%;
  width: 100%;
  margin-top: 50px;
}
.img-dia, .img-hs, .img-lugar {
  width: 200px;
  height: 80px;
  margin-bottom: 10px;
 
}
.img-dress {
  width: 250px;
  height: 100px;
}
.dia,
.dresscode,
.insta {
  padding: 0.5vw;
  margin-top: 40vw;
  margin-bottom: 20vw;

  align-items: center;
  text-align: center;
}

.musica {
  padding: 0.5vw;
  margin-top: 20vw;
  margin-bottom: 20vw;
  align-items: center;
  text-align: center;
}


.hora {
  margin-top: 40vw;
  padding: 0.5vw;
  align-items: center;
  text-align: center;
}

.contador {
  display: block;
  position: relative;
  padding-bottom: 10%;
  width: 100%;
  margin: 0 auto;
}

.tickcounter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.lugar {
  padding: 0.5vw;
  margin-top: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.acces {
  background-image: url("./img/acces.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 17vw;
  margin-top: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.regalo {
  padding: 5vw;
  margin-top: 20vw;
  margin-bottom: 30vw;
  text-align: center;
}

.texto-reg {
  color: var(--color-primario);
  font-family: "fuente2";
  font-size: 5vw;
}

.imagen_regalo {
  height: 80px;
  width: 80px;
}

.alias {
  width: 100%;
  height: 100%;
  align-self: center;
}


.insta {
  margin-top: 10vw;
}

.insta_filtro,
.musica_nota {
  width: 20vw;
  height: 20vw;
  margin-bottom: 5vw;
}

.insta_icono {
  width: 10vw;
  height: 7vw;
  margin-top: 5vw;
}


.asistencia {
  padding: 0.5vw;
  margin-top: 30vw;
  margin-bottom: 40vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.numero {
  font-size: 5vw;
  color: var(--color-primario);
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.numeroimg {
  height: 40px;
  width: 250px;
}

.confetti-container {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.confetti-container canvas {
  width: 100%;
  height: 100%;
}

button {
  font-family: "fuente2";
  background-color: var(--color-terciario);
  color: var(--color-secundario);

  margin-top: 7vw;
  padding: 1.25vw 4vw;
  font-size: 5vw;
  border: none;
  border-radius: 50px;
}

button.clicked {
  background-color: var(--color-primario);
  color: var(--color-terciario);
}

/* .slider */

.slider-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slider img {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 3em;
  padding: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}


/*final*/

.despedida {
  line-height: 1;
  color: var(--color-primario);
  font-size: 15vw;
  height: 100dvh;
  font-family: "fuente1";

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imagen-despedida {
  width: 100%;
  height: 100%;
}

/* .p1 {
    color: var(--color-primario);
    font-family: "White Garden";
    font-size: 19vw;
    margin: 0;
  } */

.floating-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4em;
  height: auto;
  position: fixed;

  bottom: 1em;
  right: 0.5em;
  padding: 0.5em 1em;
  ;
  background-color: var(--color-terciario);
  border: none;
  border-radius: 3em;
  cursor: pointer;
}

.floating-button img {
  margin-right: 0.5em;
  width: 30%;
  height: auto;
}

.play {
  color: var(--color-primario);
  font-family: "fuente2";
  font-size: 0.8em;
  line-height: 0.9;
  margin: 0;
}

.floating-button:hover {
  /* background-color: transparent; */
  transform: scale(1.05);
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

#backgroundMusic {
  display: none;
}


/* --- Mostrar solo en móviles / mensaje en desktop --- */
.mensaje-desktop {
  display: none;
  text-align: center;
  padding: 100px 20px;
  font-family: "fuente2", sans-serif;
  font-size: 1.5rem;
  color: var(--color-primario);
  background-color: var(--color-terciario);
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

/* Mostrar mensaje en pantallas grandes */
@media only screen and (min-width: 992px) {
  .content,
  header,
  .floating-button {
    display: none; /* Oculta toda la invitación */
  }

  .mensaje-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
