
@media only screen and (max-width: 992px) {

  :root {
    --color-primario: #1E3868;
    --color-secundario:  #000000;
  }
  
  @font-face {
    font-family: "EB Garamond";
    src: url('./fonts/EBGaramond-VariableFont_wght.woff');
    font-display: swap;
  }
  
  @font-face {
    font-family: "Le jour";
    src: url('./fonts/Le-Jour-Script.ttf');
    font-display: swap;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .asistencia-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  header {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    z-index: -1;
  }
  
  video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .mobile-video {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  /*.content {
   
    background-image: 
    url('/img/fondo.jpg'),
    url('/img/fondo.webp'),
    url('/img/fondo.jpeg'), 
    url('/img/fondo.png');
    
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    height: 100vh;
    width: 100%;

  } */
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    background-image: 
    url('/img/fondo.jpg'),
    url('/img/fondo.webp'),
    url('/img/fondo.jpeg'), 
    url('/img/fondo.png');
    
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

   

  }
  
  
  .inicio {
    height: 100vh;
    color: var(--color-secundario);
    font-size: 8vw;
    line-height: 0.8;
    font-family: "EB Garamond";
    justify-content: center;
  
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
  }
  
  .sh {
    font-style: italic;
    margin-top: 10vw;
    
  }
  
  .dia, .hora, .lugar, .dresscode, .cancion, .insta, .asistencia {
    padding: 0.5vw;
    margin-top: 40vw;
  
   
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  
  .despedida {
    margin-bottom: 2vh;
    height: 100vh;
    color: var(--color-secundario);
    line-height: 1;
    font-size: 11vw;
    font-family: "EB Garamond";
    font-style: italic;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  
  .contador {
    display: block;
    position: relative;
    padding-bottom: 10%;
    width: 100%;
    margin: 0 auto;
  }
  
  .tickcounter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .texto2, .texto2d, .textov1, .textov2, .numero {
    color: var(--color-secundario);
    font-family: "EB Garamond";
  } 
  
  .texto1 {
     color: var(--color-secundario);
     font-size: 11vw;
     font-family: "Le jour";
  } /*titulos*/
  
  .texto2 {
    font-size: 8vw;
    line-height: 1.2;
  }
  
  .texto2d {
    font-size: 7vw;
    line-height: 1.2;
  }
  
  .textov1 {
    font-size: 7vw;
  }
  
  .textov2 {
    font-size: 5vw;
    line-height: 1;
  }
  
  .caja img {
    width: 25vw;
    height: 25vw;
    margin-bottom: 5vw;
  }
  
  .cajains img {
    width: 15vw;
    height: 15vw;
    margin-top: 5vw;
  }
  
  .numero {
    color: var(--color-secundario);
    display: flex;
    flex-direction: row;
    font-size: 4.8vw;
    justify-content: center;
    align-items: center;
    line-height: 2;
  }
  
  .numero p {
    margin: 0;
    padding: 0;
  }
  
  .rsvp-img {
    width: 5vw;
    height: 5vw;
    margin: 0 20px;
  }
  
  
  
  button {
    font-family: "EB Garamond";
    background-color: var(--color-primario);
    color: #FFFFFA;
    margin-top: 7vw;
    padding: 1.25vw 4vw;
    font-size: 5vw;
    border: none;
    border-radius: 50px;
  }
  
  button.clicked {
    background-color: var(--color-secundario);
    color: #ffffff;
  }
  
  
  .floating-button {
    width: 2.5em;
    height: 2.5em;
    /* border-radius: 50%; */
  
    position: fixed;
  
    bottom: 1em;
    right: 1em;
    padding: 0.75em 1.5em; 
  
    background-color: rgb(136, 195, 211, 0.7);
  
    border: none;
    cursor: pointer;
  }
  
  .floating-button i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  
  .floating-button:hover {
    background-color: transparent;
    transform: scale(1.05);
  }
  
  .pulse {
    animation: pulse 2s infinite;
    }
    
    @keyframes pulse {
    0% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.1);
    }
    100% {
    transform: scale(1);
    }
  }
  
  
  #backgroundMusic {
    display: none;
  }
  
}

  

@media only screen and  (min-width: 992px) {
  body {
    display: none;
  }
}
