:root {
	--color-primario: #486076;
	--color-secundario:  #c0802a;
}

@font-face {
  font-family: "EB Garamond";
  src: url('./fonts/EBGaramond-VariableFont_wght.woff');
}

@font-face {
  font-family: "Romantic Couple";
  src: url('./fonts/Romantic-Couple.woff');
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  background-image: url(./img/mobile.png);
  background-color: #ede9e5;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.dia, .hora, .lugar, .dresscode, .asistencia, .cancion, .insta, .tips, .fotos {
  padding: 0.5vw;
  margin-top: 20vw;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  text-align: center;
}

.contador {
  display: block;
  position: relative;
  padding-bottom: 10%;
  width: 100%;
  margin: 0 auto;
}

.tickcounter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.texto1, .texto2, .textov1, .textov2, .numero {
  color: var(--color-secundario);
  font-family: "EB Garamond";
}

.texto1 {
   font-size: 10vw;
}

.texto2 {
  font-size: 6vw;
}

.textov1 {
  font-size: 5vw;
}

.textov2 {
  font-size: 5.2vw;
  line-height: 1;
}

.caja img {
  width: 25vw;
  height: 25vw;
  margin-bottom: 5vw;
}

.cajains img {
  width: 12vw;
  height: 12vw;
  margin-top: 5vw;
}


.numero {
  color: var(--color-secundario);
  display: flex;
  flex-direction: row;
  font-size: 4.8vw;
  justify-content: center;
  align-items: center;
  line-height: 2;
}

.numero p {
  margin: 0;
  padding: 0;
}

.rsvp-img {
  width: 5vw;
  height: 5vw;
  margin: 0 20px;
}

button {
  font-family: "EB Garamond";
  background-color: var(--color-primario);
  color: #ffffff;
  margin-top: 7vw;
  padding: 1.25vw 4vw;
  font-size: 5vw;
  border: none;
}

button:hover {
  background-color: var(--color-secundario);
  color: #ffffff;
}

.floating-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: var(--color-primario);
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.floating-button:hover {
  background-color: var(--color-secundario);
  transform: scale(1.05);
}

.despedida {
  color: var(--color-secundario);
  font-size: 19vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Romantic Couple;
}
  
#backgroundMusic {
  display: none;
}

@media (max-width: 1200px) {
  .desktop-video {
    display: none; /* Oculta el video para dispositivos de escritorio */
  }
}

 /*desktop*/

@media (min-width: 1200px) {

  .mobile-video {
    display: none; /* Oculta el video para dispositivos móviles */
  }

  header {
    background: url(./video/desktop.mp4) no-repeat;
  }

  .content {
    background-image: url(./img/desktop.png);
  }

  .container {
    width: 70%;
  }

  .texto1 {
    font-size: 4.5vw;
  }
 
 .texto2 {
   font-size: 4vw;
   margin-bottom: 2.5vw;
  }
 
 .textov1 {
   font-size: 3vw;
  }
 
 .textov2 {
   font-size: 2vw;
  }
  
  .caja img {
    width: 10vw;
    height: 10vw;
    margin-bottom: 3vw;
  }
  
  .cajains img {
    width: 4vw;
    height: 4vw;
    margin-top: 4vw;
  }
  
  .numero {
    color: var(--color-secundario);
    display: flex;
    flex-direction: row;
    font-size: 1.5vw;
    justify-content: center;
    align-items: center;
  }
  
  .numero p {
    margin: 0;
    padding: 0;
  }
  
  .rsvp-img {
    width: 1.8vw;
    height: 1.8vw;
    margin: 0 20px;
  }
  
  button {
    font-size: 1.5vw;
    padding: 0.5vw 2vw;
    margin-top: 2vw;
  }
  
  .contador {
    width: 60%;
  }
  
  .despedida {
    font-size: 8vw;
  }
}
